@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ParkLaneNF';
    src: url('./../fonts/ParkLaneNF.ttf') format('truetype');
    /* You can specify additional font weights and styles here */
  }
  
  /* Example usage */
  .ParkLaneNF-font {
    font-family: 'ParkLaneNF', sans-serif;
  }

  .blurred-background {
    /* background-color: rgba(0, 0, 0, 0.4); 40% transparency black */
    backdrop-filter: blur(8px); /* Adjust blur radius as needed */
  }

  .bg-offWhite {
    --tw-bg-opacity: 1;
    background-color: rgb(222, 212, 205);
}